<launch>
    <rosparam command="load" file="$(find skills_manager)/config/settings.yaml" />
    <arg name="name_skill" default="skill" />
    <arg name="session" default="" />
    <arg name="localize_box" default="true" />
    <!--
        ""
        ContinueRiskPolicy
        AbortRiskPolicy
        WaitForFeedbackRiskPolicy
        RecoveryRiskPolicy
    -->
    <arg name="risk_policy" default="ContinueRiskPolicy" />
    
    <node name="execute_node" pkg="skills_manager" type="interactive_skill_risk_trainer.py" output="screen">
        <param name="name_skill" value="$(arg name_skill)" /> 
        <param name="session" value="$(arg session)" /> 
        <param name="localize_box" value="$(arg localize_box)" type="bool"/> 
        <param name="risk_policy" value="$(arg risk_policy)" />
        
    </node>
</launch>
